
 @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

* {
    margin: 0;
    padding: 0;
    /* font-family: 'Poppins', 'sans-serif'; */
    font-family: 'EB Garamond', serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


:root {
    --bgcolor--: rgb(8, 8, 8);
    --color--: #fff;
    --maincolor--: rgb(67, 228, 58);
}

body {
    background: var(--bgcolor--);
    color: var(--color--);
}

#header {
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),url("images/wow.webp") ;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}

.container {
    padding: 20px 10%;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    font-size: 50px;
    text-decoration: none;
    color: var(--color--);
}

span {
    color: var(--maincolor--);
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: var(--color--);
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a::after {
    content: " ";
    width: 0%;
    height: 3px;
    background: var(--maincolor--);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.2s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-txt {
    margin-top: 15%;
    font-size: 30px;
}

.header-txt .para {
    margin-top: 10px;
    text-transform: capitalize;
    color: var(--maincolor--);
}

.about {
    padding: 80px 0 30px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col_1 {
    flex-basis: 35%;
}

.col_1 img {
    width: 100%;
    border-radius: 15px;
}

.col_2 {
    flex-basis: 60%;
}

.subtitle {
    font-size: 60px;
    font-weight: 600;
}

.tabtitle {
    display: flex;
    margin: 20px 0 40px;
}

.tablinks {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tablinks::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--maincolor--);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: .3s;

}

.tablinks.activelink::after {
    width: 100%;
}

.tabcontent ul li {
    list-style: none;
    margin: 10px 0;
    line-height: 40px;
}

.tabcontent ul li span {
    font-size: 25px;
    color: var(--maincolor--);
}

.tabcontent {
    display: none;
}

.tabcontent.activetab {
    display: block;
}

.services {
    padding: 5px 0;
}

.ms {
    text-align: center;
}

.servicelist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 40px;
}

.servicelist div {
    margin-top: 10px;
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 13px;
    transition: background 0.3s, transform 0.3s;
}

.servicelist div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.servicelist div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.servicelist div button {

    width: 150px;
    height: 40px;
    background: var(--bgcolor--);
    color: #fff;
    font-size: 17px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: -2px 3px 2px -3px;
}

.servicelist div:hover {
    background: var(--maincolor--);
    transform: translateY(-10px);
}

.servicelist div button:hover {
    background: red;
}

.portfolio {
    padding: 50px 0 0 0;
}

.worklist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 40px;
}

.work {
    border-radius: 13px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 13px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgb(67, 228, 58));
    border-radius: 13px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.4s;
}

.layer h3{
    font-weight: 600;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: var(--maincolor--);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    /* margin: 30px auto; */
    width: fit-content;
    border: 1px solid var(--maincolor--);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.4s;
    font-weight: 700;
    font-size: 18px;
}

.btn:hover{
    background: var(--maincolor--);
}

.contactleft{
    margin-top: 50px;
    flex-basis: 35%;
}

.contactright{
    margin-top: 50px;
    flex-basis: 60%;
}

.contactleft p{
    margin-top: 30px;
}

.contactleft p i{
    color: var(--maincolor--);
    margin-right: 15px;
    font-size: 25px;
}

.socialicon{
    margin-top: 30px;
}

.socialicon a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.4s;
}

.socialicon a:hover{
    color: var(--maincolor--);
    transform: translateY(-5px);
}

.btn2{
    display: block;
    margin: 52px 0 0 0;
    width: fit-content;
    border: 1px solid var(--maincolor--);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    background: var(--maincolor--);
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

.contactright form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 7px;
}
.note{
    margin-top: 60px;
}

.note p{
    text-transform: capitalize;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}


footer{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300 ;
    margin-top: 20px;
}

footer p i{
    color: var(--maincolor--);
}

#msg{
    display: block;
    position: absolute;
}

/* -------------small screen------------- */
nav .smallscreenicon{
    display: none;
}

@media only screen and (max-width: 600px) {
   
   .header-txt {
    margin-top: 100%;
    font-size: 18px;
}

nav ul {
    background: var(--maincolor--);
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 100;
}
nav ul li{
    display: block;
    margin: 25px;
}
nav ul .slider{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
    color: white;
}
}
